body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    color: #fff;
    font-weight: 400;
}

header {
    height: 820px;
    background: url(../img/bg_header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header #main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 280px;
}

header h1 {
    font-weight: bold;
    font-size: 48px;
    margin: 0;
}

header h2 {
    font-weight: 300;
    font-size: 22px;
    margin: 0;
    letter-spacing: 6px;
}

#search {
    width: 500px;
    height: 60px;
}

#button_search {
    box-sizing: border-box;
    width: 150px;
    height: 60px;
    background-color: #5474fd;
    font-family: 'Aleo', serif;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    margin-left: -5px;
    border: 2px solid #fff;
}

#button_search img {
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

header form {
    margin: 50px;
}

#scroll_down {
    margin-top: 70px;
    font-size: 14px;
    letter-spacing: 2px;
}

#scroll_down img {
    padding: 0 40px;
}
 
input::placeholder {
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
}

#nav {
    background-color: #5474fd;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav {
    font-size: 24px;
    margin-top: 130px;
}

nav {
    font-family: 'Aleo', serif;
    font-size: 14px;
}

nav a {
    padding: 20px;
}

#why_choose_us {
    height: 685px;
    background: url(../img/bg-why_choose_us.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
}

#why_choose_us :first-child {
    margin-top: 100px;
}

h3 {
    font-family: 'Aleo', serif;
    font-size: 36px;
    font-weight: 400;
}

#why_choose_us p {
    margin: 40px 0;
}

#blue_a {
    font-family: 'Aleo', serif;
    background-color: rgba(54, 89, 243, 0.6);
    padding: 20px 40px;
    display: inline-block;
    margin-top: 30px;
}

#blue_a:hover {
    background-color: rgba(36, 72, 230, 0.6);
}

#png_why_choose_us_2 {
    margin-left: 120px;
}

#how_it_works {
    height: 340px;
    background-color: #333;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Aleo', serif;
    font-size: 36px;
}

#how_it_works img {
    margin-left: 70px;
}

#spain_1 {
    background: url(../img/bg_spain_1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
}

#spain_2 {
    background: url(../img/bg_spain_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
}

.madrid {
    background-color: rgba(0, 0, 0, 0.6);
    height: 370px;
    width: 540px;
    margin-top: 230px;
    padding: 30px;
}

#madrid_1 {
    margin-right: 33%;
}

#madrid_2 {
    margin-left: 33%;
}

h4, h5 {
    font-size: 20px;
    font-weight: 300;
}

.madrid p {
    font-weight: 300;
}

#review {
    background: url(../img/bg-review.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 730px;
}

#review h3 {
    text-align: center;
    padding-top: 120px;
    margin: 0;
}

#sumon {
    height: 290px;
    width: 1110px;
    background-color: rgba(61, 58, 58, 0.274);
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
}

#sumon p {
    font-weight: 300;
    line-height: 1.5;
}

#sumon h5 {
    margin-top: 10px;
}

#sumon div {
    padding: 30px;
}