body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    color: #fff;
    font-weight: 400;
}

header {
    height: 820px;
    background: url(../img/bg_header.png);
    background-position: 50%;
}

header #main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 280px;
}

header h1 {
    font-weight: bold;
    font-size: 48px;
    margin: 0;
}

header h2 {
    font-weight: 300;
    font-size: 22px;
    margin: 0;
    letter-spacing: 6px;
}

#search {
    width: 500px;
    height: 60px;
}

#button_search {
    box-sizing: border-box;
    width: 150px;
    height: 60px;
    background-color: #5474fd;
    font-family: 'Aleo', serif;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    margin-left: -5px;
    border: 2px solid #fff;
}

#button_search img {
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

header form {
    margin: 50px;
}

#scroll_down {
    margin-top: 70px;
    font-size: 14px;
    letter-spacing: 2px;
}

#scroll_down img {
    padding: 0 40px;
}
 
input::placeholder {
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
}

#nav {
    background-color: #5474fd;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav {
    font-size: 24px;
    margin-top: 130px;
}

nav {
    font-family: 'Aleo', serif;
    font-size: 14px;
}

nav a {
    padding: 20px;
}

#why_choose_us {
    height: 685px;
    background: url(../img/bg-why_choose_us.png);
    background-position: 50%;
    display: flex;
    justify-content: space-evenly;
}

#why_choose_us :first-child {
    margin-top: 100px;
}

#why_choose_us h3 {
    font-family: 'Aleo', serif;
    font-size: 36px;
    font-weight: 400;
}

#why_choose_us p {
    margin: 40px 0;
}

#why_choose_us a {
    font-family: 'Aleo', serif;
    background-color: rgba(84, 116, 253, 0.6);
    padding: 20px 40px;
}

#png_why_choose_us_2 {
    margin-left: 120px;
}